@model ASPTermProject.Models.ContactModel
@{
    ViewData["Title"] = "Create";
}

<h2>Your Contact Information</h2>
<div>
    @Model.Name
</div>
<div>
    @Model.PhoneNumber
</div>
<div>
    @Model.Email
</div>
<div>
    @Model.Message
</div>